<div class="container-fluid card">
    <img class="img-fluid" src="assets/images/banner.jpg" />
    <div class="card-img-overlay" style="width: 50rem; padding: 5rem;">
        <h3 class="card-title banner-heading">Your Course to Success</h3>
        <h5 class="card-text text-blue">Build skills with courses, certificates, and degrees online from world-class
            universities and companies</h5>
        <a routerLink="display-list" class="btn btn-primary text-white">Explore Now</a>
    </div>
</div>
<div class="container-fluid border-bottom p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <i class="fa fa-youtube-play fa-2x pull-right"></i>
            </div>
            <div class="col-md-3">
                <h6>130,000 online courses</h6>
                <p>Enjoy a variety of fresh topics</p>
            </div>
            <div class="col-md-1">
                <i class="fa fa-bookmark fa-2x pull-right"></i>
            </div>
            <div class="col-md-3">
                <h6>Expert instruction</h6>
                <p>Find the right instructor for you</p>
            </div>
            <div class="col-md-1">
                <i class="fa fa-clock-o fa-2x pull-right"></i>
            </div>
            <div class="col-md-3">
                <h6>Lifetime access</h6>
                <p>Learn on your schedule</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container p-3">
        <h4>The world's largest selection of courses</h4>
        <h6>Choose from 130,000 online video courses with new additions published every month</h6>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container bg-white">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="card p-2" style="width: 10rem;">
                                    <img class="card-img-top img-fluid" src="assets/images/1.png" />
                                    <div class="card-body">
                                        <h5 class="card-title mt-2">Apple</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="card p-2" style="width: 10rem;">
                                    <img class="card-img-top img-fluid" src="assets/images/4.png" />
                                    <div class="card-body">
                                        <h5 class="card-title mt-2">Google</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="container bg-white">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="card p-2" style="width: 10rem;">
                                    <img class="card-img-top img-fluid" src="assets/images/1.png" />
                                    <div class="card-body">
                                        <h5 class="card-title mt-2">Apple</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="card p-2" style="width: 10rem;">
                                    <img class="card-img-top img-fluid" src="assets/images/4.png" />
                                    <div class="card-body">
                                        <h5 class="card-title mt-2">Google</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="carousel-item">
                    <div class="container bg-white">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="card p-2" style="width: 10rem;">
                                    <img class="card-img-top img-fluid" src="assets/images/1.png" />
                                    <div class="card-body">
                                        <h5 class="card-title mt-2">Apple</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="card p-2" style="width: 10rem;">
                                    <img class="card-img-top img-fluid" src="assets/images/4.png" />
                                    <div class="card-body">
                                        <h5 class="card-title mt-2">Google</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>