<div class="container-fluid">
    <div class="container-fluid">
            <div class="card bg-dark text-white">
                <img src="assets/images/about.jpg" class="img-fluid" alt="About Us">
                <div class="card-img-overlay about-text text-center">
                    <h1 class="card-title about-heading mb-n4">ABOUT US</h1>
                    <span class="about-subheading">&amp; OUR VALUES</span>
                </div>
            </div>
            <div class="d-block d-md-none">
                <img src="assets/images/about-us.jpg" class="card-img" alt="About Us">
            </div>
    </div>
    <div class="text-center">
        <div class="container">
            <div class="row p-4">
                <div class="col-md-12">
                    <h2 class="light-heading">Improving Lives Through Learning</h2>
                    <h5>By connecting students all over the world to the best instructors, Course is helping individuals
                        reach their goals and pursue their dreams.
                    </h5>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="bg-grey container-fluid">
            <div class="container">
                <div class="row my-4 p-4">
                    <div class="col-lg-8 bg-white p-5">
                        <h3 class="section-heading">WHY CHOOSE US?</h3>
                        <p>No hidden charges | Reliable Support | Quality Work Assurance</p>
                        <dl>
                            <dt>NOVEL CREATIONS</dt>
                            <dd>We give Innovative, unique and keen methodology of planning to result a special
                                creation. </dd>
                            <dt>POSITIVE OUTCOMES </dt>
                            <dd>Customer arranged research and prerequisite examination guarantee positive result for
                                your business. </dd>
                            <dt>SUCCESSFUL SOLUTIONS</dt>
                            <dd>We convert entangled business ideas into exquisite and effective arrangements. </dd>
                        </dl>
                    </div>
                    <div class="col-md-4 d-none d-lg-block p-4 ml-md-n5">
                        <img src="assets/images/why-us.jpg" class="img-fluid" alt="About Us" />
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Team Section -->
    <div class="container p-4">
        <div class="row p-4">
            <div class="col-md-12">
                <h2 class="banner-heading">MEET OUR TEAM</h2>
                <hr class="hr-divider mx-0 col-md-4" />
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="card text-center no-border">
                    <img src="assets/images/team3.jpg" class="img-fluid rounded-circle" alt="Milton Liu" />
                    <div class="card-body">
                        <h5 class="card-title">Milton Liu</h5>
                        <p class="card-text text-uppercase">CEO, Founder</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-lg-3 offset-lg-1">
                <div class="card text-center no-border">
                    <img src="assets/images/team1.jpg" class="img-fluid rounded-circle" alt="Mary Sue Lin" />
                    <div class="card-body">
                        <h5 class="card-title">Mary Sue Lin</h5>
                        <p class="card-text text-uppercase">Project Manager</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-lg-3 offset-lg-1">
                <div class="card text-center no-border">
                    <img src="assets/images/team2.jpg" class="img-fluid rounded-circle" alt="Natasha Hayes" />
                    <div class="card-body">
                        <h5 class="card-title">Natasha Hayes</h5>
                        <p class="card-text text-uppercase">Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
